@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #222;
  background: #fff;
}

/* ===== NAVBAR ===== */
header {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8%;
}

.logo {
  font-size: 1.2rem;
  font-weight: 600;
  color: #d63384;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  color: #d63384;
  border-bottom: 2px solid #d63384;
  padding-bottom: 3px;
}

/* ===== HERO SECTION ===== */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10rem 8% 6rem;
  min-height: 100vh;
  gap: 2rem;
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.hero-text h1 span {
  color: #d63384;
}

.hero-text h2 {
  font-size: 1.8rem;
  color: #555;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1rem;
  color: #444;
  max-width: 500px;
  margin-bottom: 2rem;
}

.btn {
  background: #d63384;
  color: white;
  padding: 0.8rem 1.6rem;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: 500;
}

.btn:hover {
  background: #b0246a;
  transform: translateY(-3px);
}

/* ===== HERO IMAGE ===== */
.hero-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-shape {
  background: #d63384;
  border-radius: 55% 45% 60% 40% / 60% 40% 55% 45%;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-shape img {
  width: 85%;
  border-radius: 50%;
}



/* ===== FOOTER ===== */
footer {
  text-align: center;
  padding: 1.5rem;
  background-color: #d63384;
  color: white;
  font-size: 0.9rem;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
    padding-top: 8rem;
  }

  .img-shape {
    width: 250px;
    height: 250px;
  }

  .nav-links {
    display: none;
  }
}

/* About Page */
.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-width: 900px;
  margin: auto;
  background: white;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  margin-top: 100px;
  margin-bottom: 120px;
}

.about-photo img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.about-text {
  max-width: 500px;
  text-align: left;
  margin-bottom: 20px;;
}

.about-text p {
  margin-bottom: 15px;
  line-height: 1.6;
}

/* Projects */
.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 100px;
  margin-bottom: 330px;
}

.project-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 250px;
  transition: 0.3 ease;
}

.project-card h3 {
    color:#d63384;
}
.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* Skills */
.skills-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  margin-top:120px;
  margin-bottom: 280px;
}

.skill {
  margin: 20px 0;
}

.bar {
  background: #f1f1f1;
  border-radius: 12px;
  overflow: hidden;
}

.fill {
  background: #ff69b4;
  height: 10px;
  border-radius: 12px;
}

/* Contact */
.contact-page{
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 5rem;
    min-height: 100vh;
}
.contact-page h2{
    color:#d63384;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.contact-page p{
    color:#444;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    line-height: 1.6;
}
.contact-page a{
    color:#d63384;
    text-decoration: none;
    font-weight: 500;
}
.contact-page a:hover {
    text-decoration: underline;
}
.contact-form {
  max-width: 300px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 1em;
}

.contact-form button {
  background: #ff69b4;
  border: none;
  color: white;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-form button:hover {
  background: #d63384;
}

